:root {
    --color-primary-50: 239 246 255;
    --color-primary-100: 219 234 254;
    --color-primary-200: 191 219 254;
    --color-primary-300: 147 197 253;
    --color-primary-400: 96 165 250;
    --color-primary-500: 59 130 246;
    --color-primary-600: 37 99 235;
    --color-primary-700: 29 78 216;
    --color-primary-800: 30 64 175;
    --color-primary-900: 30 58 138;
    --color-primary-950: 23 37 84;
    --color-primary-DEFAULT: var(--color-primary-500);

    --color-gray-50: 248 250 252;
    --color-gray-100: 241 245 249;
    --color-gray-200: 226 232 240;
    --color-gray-300: 203 213 225;
    --color-gray-400: 148 163 184;
    --color-gray-500: 100 116 139;
    --color-gray-600: 71 85 105;
    --color-gray-700: 51 65 85;
    --color-gray-800: 30 41 59;
    --color-gray-900: 15 23 42;
    --color-gray-950: 2 6 23;
}

.dark {
    --color-primary-DEFAULT: var(--color-primary-400);
}

.nuxt-ui-scrollbars ::-webkit-scrollbar {
    background-color: transparent;
    height: .6em;
    width: .6em
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-100)/1);
    background-color: rgb(var(--color-gray-100)/var(--tw-bg-opacity))
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-thumb {
    border-radius: .6em;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-300)/1);
    background-color: rgb(var(--color-gray-300)/var(--tw-bg-opacity))
}

.nuxt-ui-scrollbars ::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-400)/1);
    background-color: rgb(var(--color-gray-400)/var(--tw-bg-opacity))
}

.nuxt-ui-scrollbars.dark ::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-800)/1);
    background-color: rgb(var(--color-gray-800)/var(--tw-bg-opacity))
}

.nuxt-ui-scrollbars.dark ::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-700)/1);
    background-color: rgb(var(--color-gray-700)/var(--tw-bg-opacity))
}

.nuxt-ui-scrollbars.dark ::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-gray-600)/1);
    background-color: rgb(var(--color-gray-600)/var(--tw-bg-opacity))
}

.no-scrollbar[data-v-0ca56520]::-webkit-scrollbar {
    display: none
}

.no-scrollbar[data-v-0ca56520] {
    -ms-overflow-style: none;
    scrollbar-width: none
}
